POSTGIS_VERSION=17-3.5
DATABASE_USERNAME=docker
DATABASE_PASSWORD=docker
PASSWORD_AUTHENTICATION=md5
QGIS_AUTH_BACKUP_VOLUME=./backups
KEYCLOAK_VERSION=26.2.5

# KEYCLOAK_COMMAND can be 'start' or 'start-dev'
KEYCLOAK_COMMAND=start
KC_HOSTNAME=https://auth.qgis.org
KC_DB_URL_HOST=db
KC_DB_URL_DATABASE=gis
DATABASE_PASSWORD=docker
DATABASE_USERNAME=docker
KC_DB_SCHEMA=public
KC_BOOTSTRAP_ADMIN_USERNAME=admin
KC_BOOTSTRAP_ADMIN_PASSWORD=password
DBBACKUPS_VERSION=17-3.5
DUMPPREFIX=QGIS_AUTH
DATABASE_USERNAME=docker
DATABASE_PASSWORD=docker
POSTGRES_PORT=5432
DATABASE_HOST=db
DATABASE_NAME=gis
DOMAIN_NAME=auth.qgis.org

# QGIS_AUTH_ENV can be 'prod', 'prod-ssl' or 'staging-ssl'
QGIS_AUTH_ENV=prod-ssl